.shoppingCart {
  flex: 1;
  .main-context {
    margin: 2.5rem auto;
    max-width: 90rem;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
    display: flex;
    flex-direction: row;

    .myBag-container {
      flex-basis: 66.66667%;

    }
    .orderSummary-container {
      flex-basis: 33.33333%;
      //height: 60rem;
    }

  }


}