.shoppingCart {
  flex: 1;
  .main-context {
    margin: 2.5rem auto;
    max-width: 90rem;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
    display: flex;
    flex-direction: row;
    .myBag-container {
      flex-basis: 66.66667%;
      border: #a40c0f 2px solid;
      height: 60rem;
    }
    .orderSummary-container {
      flex-basis: 33.33333%;
      border: whitesmoke 4px solid;
      height: 60rem;
    }

  }


}