.order-summary {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 2rem;
  hr {
    opacity: 0.5;
  }
  .summary-details {
    width: 100%;
    .detail {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 1rem 0;
      font-size: 1rem;
      span {
        display: flex;
        flex-direction: row;
        align-items: center;

      }
    }

  }
  .estimate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
  }
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
  }
  .checkout-container {
    padding: 1rem 0;

    .quickly {
      margin: 1rem 0;
      font-size: 1rem;
      font-weight: 540;
    }

    .checkout-button {
      button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: #a40c0f;
        }
        img{
          width: 8%;
        }
        letter-spacing: .075rem;
        border-radius: .25rem;
        font-size: 1.1rem;
        font-weight: bold;
        cursor: pointer;
        width: 100%;
        border: 0.0625rem solid #d31334;
        height: 3.3rem;
        background-color: #d31334;
        color: #fff;
        box-shadow:none;
      }
    }

    .ship-to {
      font-size: 1rem;
      width: 100%;
      text-align: left;
      margin-top: 2rem;
      p {
        color: grey;
      }
      .address {
        display: inline;
        .mapIcon {
          font-size: 1rem;
        }
      }
    }
  }
}