@use "./src/index.scss" as css;

.sortingTabs {
  padding: 0 0 0 1.5rem;
  line-height: 1.2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
.sortingTabs_right{
  .dropdown {
    display: inline-block;
    position: relative;
    //width: 30%;
    //height: 30px;
    cursor: pointer;
    .sort-by {
      font-size: 1rem;
      overflow: unset;
    }
    .hide {
      display: none;
    }
    .display {
      position: absolute;
      font-size: 1.4rem;
      background-color: #f1f1f1;
      min-width: 20rem;
      overflow: auto;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      z-index: 1;
      ul {
        margin: 0 auto;
        list-style: none;
        text-align: center;
        padding-left: 0;
        li {
          padding: 1.5rem 0;
          &:hover {
            background-color: lightgrey;
          }
        }
      }
    }
  }}
  .sortingTabs_left {
  .options {
    background: none;
    outline: none;
    appearance: textfield;
    //margin-bottom: -0.3375rem;
    font-size: 1rem;
    text-align: left;
    line-height: 1.075rem;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 1px 6px;
    margin-right: 3.25rem;
    //display: inline-block;
    //width: 30%;
    //height: 30px;
    //cursor: pointer;
    //transition: all 0.2s ease-in-out;

    &:hover {
      font-weight: bold;
    }
    &::after {
      position: relative;
      bottom: -10px;
      left: 0;
      width: 0;
      height: 6px;
      //background-color: css.$hover_color;
      border-bottom: 0.2875rem solid css.$hover_color;
      transition: all 0.1s ease-in-out;
      content: "";
      display: block;
    }

    &:hover::after {
      width: 100%;
    }
  }}
}
