.checkout-summary {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;

  .summary-details {
    width: 100%;
    .detail {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 1rem 0;
      font-size: 1rem;
      span {
        display: flex;
        flex-direction: row;
        align-items: center;

      }
    }

  }
  .estimate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
  }
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
  }
}