.reset-password {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem 3rem;
  .set-new {
    margin: 1rem 0;
    span{
      font-size: 1rem;
      font-weight: bold;
    }
  }
  .description {
    margin-bottom: 1rem;
    span{
      font-size: 0.7rem;
      margin-top: 0;
    }
  }
  .enter-email-button {
    width: 40%;
    height: 3rem;
    margin-top: 1rem;
    background-color: black;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: grey;
    }
    span {
      font-size: 0.8rem;
      font-weight: bold;
      color: white;
    }
  }

  .logIn-button {
    width: 40%;
    height: 3rem;
    margin-top: 1rem;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 5px;
    cursor: pointer;
    background: #d31334;
    &:hover {
      background-color:  #a40c0f ;
    }
    span {
      font-size: 0.8rem;
      font-weight: bold;
      color: white;
    }
  }
}