.main-component-wrapper {
  max-width: 85.75rem;
  margin: 0 auto;
  min-width: 63rem;
  display: flex;
  flex-direction: column;
  .product-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
