@font-face {
  font-family: Calibre;
  src: url("assets/font/calibre/CalibreRegular.otf");
}
.checkout-main-border {
  height: auto;
  min-width: 62rem;
  max-width: 90rem;
  margin: 2rem auto;
}
.checkout-main-border .checkout-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0;
}
.checkout-main-border .checkout-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 4rem;
  height: auto;
}
.checkout-main-border .checkout-main-container .information {
  margin-left: 2rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.checkout-main-border .checkout-main-container .information .next-step {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.checkout-main-border .checkout-main-container .information .next-step .next-step-button {
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.075rem;
  font-size: 15px;
  width: 15rem;
  font-weight: 600;
  height: 2.7rem;
  background-color: #d31334;
  color: #fff;
  border: 0.0625rem solid #d31334;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}
.checkout-main-border .checkout-main-container .information .next-step .next-step-button:hover {
  background-color: #a40c0f;
}
.checkout-main-border .checkout-main-container .information .info-box {
  width: 100%;
  background-color: #fff;
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 2rem;
  padding-top: 1.5rem;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  text-align: left;
}
.checkout-main-border .checkout-main-container .information .info-box .content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.checkout-main-border .checkout-main-container .information .info-box .content .arrow {
  cursor: pointer;
  display: inline-block;
}
.checkout-main-border .checkout-main-container .information .info-box .content .arrow-clicked {
  cursor: pointer;
  display: inline-block;
}
.checkout-main-border .checkout-main-container .information .info-box .content a {
  text-decoration: underline;
  font-weight: bold;
}
.checkout-main-border .checkout-main-container .information .info-box .signIn-button {
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  background-color: black;
  text-align: center;
  line-height: 2.5rem;
  border-radius: 5px;
  cursor: pointer;
}
.checkout-main-border .checkout-main-container .information .info-box .signIn-button:hover {
  background-color: grey;
}
.checkout-main-border .checkout-main-container .information .info-box .signIn-button span {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
}
.checkout-main-border .checkout-main-container .information .info-box .email-hide {
  display: none;
}
.checkout-main-border .checkout-main-container .information .info-box .input {
  margin: 1rem 0;
}
.checkout-main-border .checkout-main-container .information .info-box .sign-up input {
  transform: scale(2);
  margin-right: 15px;
  background-color: black;
}
.checkout-main-border .checkout-main-container .information .info-box .email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem 0;
}
.checkout-main-border .checkout-main-container .information .info-box .email .forgot-password {
  margin-top: 0.5rem;
  font-size: small;
  text-decoration: underline;
}
.checkout-main-border .checkout-main-container .information .info-box .email div {
  margin-right: 2rem;
}
.checkout-main-border .checkout-main-container .information .info-box .title {
  margin: 0 0 0.5rem;
  font-size: 1.875rem;
  line-height: 1.0666666667;
  font-weight: 600;
}
.checkout-main-border .checkout-main-container .information .shipping-address .location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 1rem;
}
.checkout-main-border .checkout-main-container .information .shipping-address .phone-input {
  margin-top: 1rem;
  font-weight: normal;
}
.checkout-main-border .checkout-main-container .information .shipping-address .phone-input p {
  opacity: 0.5;
}
.checkout-main-border .checkout-main-container .information .shipping-address .names-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 1rem;
}
.checkout-main-border .checkout-main-container .information .shipping-address .names-input .name-input {
  width: 14rem;
}
.checkout-main-border .checkout-main-container .information .shipping-gift {
  padding-bottom: 2rem;
}
.checkout-main-border .checkout-main-container .information .shipping-gift .date {
  font-weight: bold;
  text-decoration: underline;
}
.checkout-main-border .checkout-main-container .information .shipping-gift .days {
  font-weight: bold;
}
.checkout-main-border .checkout-main-container .information .shipping-gift .arrive-title {
  margin-top: 1rem;
  font-size: large;
}
.checkout-main-border .checkout-main-container .product-summary {
  position: sticky;
  margin-right: 2rem;
  width: 40%;
  max-height: 100vh;
  top: 0;
}

/*# sourceMappingURL=Checkout.css.map */
