$hover_color: #d31334;
.simpleFooter-container {
  width: 100%;
  background-color: white;
  bottom: 0;

  .simpleFooter {
    display: block;
    position: relative;
    width: 100%;
    text-align: left;
    margin: 0 auto;
    bottom: 0;
    min-width: 62rem;
    max-width: 90rem;

    li {
      margin: 2rem 0;
      a {
        position: relative;
        text-decoration: none;
        font-weight: bold;
        padding-bottom: 5px;
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: -2px;
          left: 0;
          background-color: $hover_color;
          transform-origin: bottom right;
          transition: transform 0.3s ease-out;
        }


        &:hover {
          cursor: pointer;
          &::after {
            transform: scaleX(1);
            transform-origin: top left;
          }
        }
      }
    }
    .light {
      li {
        a {
          font-weight: normal;
        }
      }
    }

  }
}
