@font-face {
  font-family: Calibre;
  src: url("assets/font/calibre/CalibreRegular.otf");
}
.sideBarItem {
  border-bottom: 0.0625rem solid #e6e6e6;
  border-top: 0.0625rem solid #e6e6e6;
}
.sideBarItem .itemExpand {
  animation: rotate 2s linear infinite;
}
.sideBarItem .itemExpand .itemHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 0;
}
.sideBarItem .itemExpand .itemHead:hover {
  cursor: pointer;
}
.sideBarItem .itemExpand .itemHead .filterTitle {
  text-align: left;
  flex-grow: 2;
  font-size: 1.1875rem;
  line-height: 1.26316;
  font-weight: 500 !important;
}
.sideBarItem .itemExpand .colorList {
  padding-left: 0.1rem;
}
.sideBarItem .itemExpand .colorList .swatch-filter {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 50%;
  padding: 1rem 0 0 0;
  line-height: 1.2;
}
.sideBarItem .itemExpand .colorList .swatch-filter img {
  border-radius: 50%;
  width: 2rem;
  border: darkgrey 1px solid;
}
.sideBarItem .itemExpand .colorList .swatch-filter img:hover {
  box-shadow: 0 0 0 1px darkgrey;
  padding: 0.2rem;
}
.sideBarItem .itemExpand .colorList .swatch-filter .swatchAlt {
  display: inline-block;
  position: relative;
  bottom: 0.8rem;
  left: 0.5rem;
}
.sideBarItem .itemExpand .itemBody {
  padding-left: 0;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.1764705882;
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}
.sideBarItem .itemExpand .itemBody .itemList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
  margin: 0;
}
.sideBarItem .itemExpand .itemBody .itemList li[class*=col-] {
  padding-right: 0.78125rem;
  padding-left: 0.78125rem;
}
.sideBarItem .itemExpand .itemBody .itemList li {
  margin: 0 0 0.625rem;
  flex-grow: 2;
  text-align: left;
  display: flex;
}
.sideBarItem .itemExpand .itemBody .itemList li .filterName {
  padding-left: 0.3rem;
  display: inline;
  padding-top: 0.2rem;
}
.sideBarItem .itemExpand .itemBody .itemList_expanded {
  margin-top: 0;
  padding-left: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.sideBarItem .itemExpand .itemBody .itemList_expanded li[class*=col-] {
  padding-right: 0.78125rem;
  padding-left: 0.78125rem;
}
.sideBarItem .itemExpand .itemBody .itemList_expanded li {
  margin: 0 0 0.625rem;
  flex-grow: 2;
  text-align: left;
  display: flex;
}
.sideBarItem .itemExpand .itemBody .itemList_expanded li .filterName {
  padding-left: 0.3rem;
  display: inline;
  padding-top: 0.2rem;
}
.sideBarItem .itemExpand .itemBody .show {
  max-height: 1300px;
}
.sideBarItem .itemExpand .itemBody .viewMore {
  font-size: 1.0625rem;
  font-weight: 400;
  color: #57585b;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.6875rem 0 0.5rem;
  width: 100%;
  opacity: 1;
  max-height: 50px;
  pointer-events: all;
  transition: all 0.5s ease-in-out;
}
.sideBarItem .itemExpand .itemBody .viewMore:hover {
  cursor: pointer;
}
.sideBarItem .itemExpand .itemBody .viewMore .viewMoreTitle {
  position: relative;
  top: -0.15rem;
}
.sideBarItem .itemExpand .showTitle {
  max-height: 2000px;
  opacity: 1;
  pointer-events: all;
}
.sideBarItem .itemExpand .showView {
  pointer-events: none;
  opacity: 0;
  max-height: 0;
}

/*# sourceMappingURL=SideBarItem.css.map */
